.navbar {
  height: 100%;
  background-color: blueviolet;

  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 0 20px;
  gap: 20px;

  a {
    text-decoration: none;
    color: white;

    &:hover {
      color: yellow;
    }

    &.active {
      color: yellow;
      font-weight: bold;
    }
  }

  button {
    border: none;
    border-radius: 10px;
    padding: 10px;
    cursor: pointer;
    color: red;

    &.green {
      color: green;
    }
  }
}
