/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import "~bootstrap/scss/bootstrap";

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: "Helvetica Neue";
}

// Classe générales

.btn-nav {
  border: none;
  padding: 10px;
  border-radius: 10px;
  color: white;
  background-color: blueviolet;
}

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';
